/* You can add global styles to this file, and also import other style files */
body{
    background: darkblue;
    background-image: url('/img/ai-night-city.jpeg');
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    color: white;

    div.white{
        background-color: whitesmoke;
        color: #222;
        border-radius: 7px;
        padding: 1rem;
        margin-top: 1rem;
    }


}
