@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body, h1, h2, h3 {
  margin: 0;
  padding: 0;
  border: 0; }

body {
  font-size: 14px;
  background-size: cover; 
 
  font-family: 'Roboto', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.logo, section{
    display: block;
    margin: 10px;
    padding: 10px;
    background-color: white;
    display: flex;
    border-radius: 10px;
    flex-direction: row;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 10px;
    img{
        height: 40px;
    }
    div{
        margin-left: 1rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        h1{
            font-size: 1rem;
            color: #0C2E55;
        }
    }
}

section{
    padding: 25px;
    h1{
        margin-bottom: 20px;
    }
    

}
