.articles{


    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;


    .article{

        
        flex: 1;
        margin: 1rem;
        padding: .5rem;
        border-radius: 4px;
        min-width: 300px;
        background-color: white;
        position: relative;
        h1{
            padding: 0 0 0 0;
            margin: 0 0 0 0;
        }
    }

}

